<ion-view title="Bind Box">
  <ion-content padding="true" class="has-header e-bind-background">
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Life Online Box ID" ng-model="bind.boxid">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Circle ID" ng-model="bind.circleid">
      </label>

      <button class="button  button-block button-balanced" ng-click="bindPlant()">
        Start Bind
      </button>
    </div>
  </ion-content>
</ion-view>

